*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
}

#timers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.timer-wrapper {
  background-color: #222;
  color: #fff;
  width: max-content;
  padding: 0.8rem 1.5rem;
  border-radius: 0.65rem;
  font-size: 1.5rem;
  font-family: 'Segoe UI', sans-serif;
}

.hidden {
  display: none;
}

.time {
  font-weight: bold;
}

#error-wrapper {
  background-color: #222;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: salmon;
  font-size: 1.25rem;
}

#error-text {
  color: white;
}
